@font-face {
    font-family: mediumextra;
    src: url(font/Gilroy-ExtraBold.woff2);
}

@font-face {
    font-family: boldwoff;
    src: url(font/Gilroy-Bold.woff2);
}

@font-face {
    font-family: mediumwoff;
    src: url(font/Gilroy-Medium.woff2);
}

@font-face {
    font-family: semibold;
    src: url(font/Gilroy-SemiBold.woff2);
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.main-web-sectio{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.main-web{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.header-cont{
    /* display: flex; */
margin: 0px 16px;
width: 100%;
}


.head-image{
    display: flex;
    align-items: center;
    height: 62px;

}

.head-image img{
    object-fit: cover;

}


.header-location{
    display: flex;
    height: 48px;
    width: 100%;
    border-top: 1px solid rgba(2, 6, 12, 0.05);
}

.location{
    height: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: auto 0px;
    width: 100%;
}
.logo{
    display: flex;
}

.othr{
    font-family: mediumextra;
    font-size: 14px;
    margin: auto 4px;
    color: rgba(2, 6, 12, 0.75);
    line-height: 16px;
    letter-spacing:-0.35px;
    font-weight: 600;

}

.kind{
    font-family: mediumwoff;
     margin: auto 4px;
     font-size: 14px;
     color: rgba(2, 6, 12, 0.6);
     letter-spacing: -0.35px;
     line-height: 18px;

}

.arow-rgt{
    margin-left: 4px;
    
}